:root {
    --header-height: 60px;
    /* color */
    --main-color: #505050;
    --hover-color: #c5c5c5;
    --dark-color: #202020;
    --white-color: #fff;
    --shadow-color: #50505010;
    /* blur color */
    --background-color: #ffffff10;
    --border-color: #ffffff50;
    --border-side-color: #ffffff20;
    --border-hover-color: #ffffff75;
    --body-color: #fff;
    /* font */
    --body-font: myanmar mn, sans-serif;
    --h1-font-size: 72px;
    --h2-font-size: 60px;
    --h3-font-size: 24px;
    --h6-font-size: 20px;
    --normal-font-size: 14px;
    /* small */
    --small-font-size: 12px;
    /* mb */
    --mb-section: 100px;
    --mb-title: 100px;
    --mb-box: 80px;
    --mb-line: 20px;
    --mb-1: 15px;
    /* img */
    --img-scale: scale(1.1);
}

body.dark-theme {
    --main-color: #eee;
    --hover-color: rgb(194, 202, 198);
    --dark-color: #50505075;
    --white-color: #fff;
    --shadow-color: #00000025;
    --body-color: rgb(120, 129, 125);
}

.nav__dark {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    position: absolute;
    left: 3rem;
    bottom: 4rem;
}

.change-theme,
.change-theme-name {
    color: var(--text-color);
}

.change-theme {
    cursor: pointer;
    font-size: 1rem;
}

.change-theme-name {
    font-size: var(--small-font-size);
}


/* set */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--body-color);
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: normal;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: normal;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: normal;
}

h6 {
    font-size: var(--h6-font-size);
    font-weight: normal;
}

@media screen and (max-width: 375px) {
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 20px;
        margin: var(--mb-line) 0;
    }
    h6 {
        font-size: var(--normal-font-size);
    }
    p {
        font-size: var(--normal-font-size);
        /* font-weight: normal; */
    }
    small {
        font-size: 12px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

i {
    font-size: var(--h6-font-size);
}

section {
    margin-bottom: var(--mb-section);
    padding: 100px 0;
}

.section__title {
    margin-bottom: 40px;
    text-align: center;
}

@media screen and (max-width: 375px) {
    section {
        padding: 100px 0;
    }
    i {
        font-size: 16px;
    }
    .section__title {
        margin-bottom: var(--mb-line);
    }
}

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 375px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
}

.icon {
    width: 20px;
    height: 20px;
}

.grid {
    display: grid;
    gap: var(--mb-line);
}


/* header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: transparent;
}

.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 25px 45px var(--shadow-color);
}

.scroll-header .nav_logo,
.scroll-header .nav_toggle i {
    color: var(--main-color);
}


/* nav */

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle i,
.nav_link {
    color: var(--white-color);
}

@media screen and (max-width: 375px) {
    .nav_menu {
        position: fixed;
        background-color: var(--body-color);
        box-shadow: 0 25px 45px var(--shadow-color);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 40px;
        transition: .5s;
    }
}

.nav_list {
    display: flex;
    flex-direction: row;
    row-gap: var(--mb-line);
}

@media screen and (max-width: 375px) {
    .nav_list {
        flex-direction: column;
    }
}

.nav_link {
    text-transform: uppercase;
    margin-left: var(--mb-line);
}

@media screen and (max-width: 375px) {
    .nav_link {
        color: var(--main-color);
        margin-left: 0;
    }
}

.nav_logo:hover,
.nav_link:hover {
    color: var(--hover-color);
}

.nav_close {
    position: absolute;
    top: var(--mb-line);
    right: var(--mb-line);
    width: var(--mb-line);
    height: var(--mb-line);
}

.show-menu {
    right: 0;
}

@media screen and (min-width: 376px) {
    .nav__dark {
        position: initial;
        margin-left: var(--mb-line);
    }
    .nav_menu {
        display: flex;
    }
    .nav_toggle,
    .nav_close,
    .change-theme-name {
        display: none;
    }
    .change-theme {
        color: var(--white-color);
    }
    .scroll-header .nav_link,
    .scroll-header .change-theme {
        color: var(--main-color);
    }
    .scroll-header .nav_link:hover,
    .scroll-header .change-theme:hover {
        color: var(--hover-color);
    }
}


/* home */

.home_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home_container {
    position: relative;
    height: calc(100vh - var(--header-height));
    align-content: center;
    row-gap: var(--mb-line);
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_container h1,
.home_container h3 {
    color: var(--white-color);
}

.home_container h1 {
    margin: var(--mb-section) 0 0;
}

.home_container h3 {
    font-size: var(--h6-font-size);
}

.home_container a {
    font-size: var(--h3-font-size);
    margin: var(--mb-section) 0 0;
    padding: var(--mb-line) var(--mb-box);
    color: var(--main-color);
    background: var(--body-color);
    border-radius: 10px;
    transform: translateY(0);
    transition: .5s;
}

.home_container a:hover {
    background: var(--hover-color);
    transform: translateY(-20px);
}


/* about */

.about_img {
    display: flex;
    column-gap: var(--mb-1);
    justify-content: space-between;
    align-items: center;
}

.about_img_box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.about_img_1,
.about_img_2,
.about_img_3 {
    transition: .5s;
}

.about_img_1:hover,
.about_img_2:hover,
.about_img_3:hover {
    transform: var(--img-scale);
}


/* villas */

.villas_info {
    text-align: center;
}

.villas_card {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 40px;
}

.villas_img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    transition: .5s;
}

.villas_img:hover {
    transform: var(--img-scale);
}

.villas_text {
    font-size: var(--h3-font-size);
    position: absolute;
    bottom: var(--mb-1);
    left: var(--mb-1);
    color: var(--white-color);
    font-weight: normal;
}

@media screen and (max-width: 375px) {
    .villas_info {
        text-align: left;
    }
    .villas_card {
        position: relative;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
    }
    .villas_img {
        width: 200px;
        height: 300px;
        border-radius: 10px;
        transition: .5s;
    }
    .villas_text {
        font-size: var(--normal-font-size);
    }
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}


/* experiences */

.spa {
    display: flex;
    justify-content: space-between;
    margin: var(--mb-line) 0;
}

.spa_text,
.spa_img {
    width: 480px;
}

.spa_img {
    margin: var(--mb-line) 0;
    border-radius: 10px;
    overflow: hidden;
}

.spa_img img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 25px 45px var(--shadow-color);
    border-radius: 10px;
    transition: .5s;
}

@media screen and (max-width: 375px) {
    .spa {
        display: block;
        margin: 0;
    }
    .spa_text,
    .spa_img {
        width: 100%;
    }
}

.food {
    margin: var(--mb-line) 0;
}

.food_img {
    margin: var(--mb-line) 0;
    display: flex;
    flex-wrap: wrap;
}

.food_img_box {
    margin: var(--mb-line) auto;
    width: 225px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 25px 45px var(--shadow-color);
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 375px) {
    .food {
        margin: 0;
    }
    .food_img_box {
        margin: var(--mb-line) 11.25px;
        width: 150px;
        height: 200px;
    }
}

.food_img_box img {
    border-radius: 10px;
    transition: .5s;
}

.spa_img img:hover,
.food_img_box img:hover {
    transform: var(--img-scale);
}


/* book */

.book_container {
    display: flex;
    justify-content: space-between;
    margin: var(--mb-line) auto;
    flex-wrap: wrap;
}

.book_card {
    width: 500px;
    box-shadow: 0 25px 45px var(--shadow-color);
    border-radius: 10px;
    margin: var(--mb-line) 0;
}

.book_name,
.book_icon,
.book_now {
    width: 400px;
    margin: var(--mb-line) auto;
}

.book .swiper-slide img {
    display: block;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.book .swiper-container {
    width: 400px;
    height: 300px;
}

.book .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--white-color);
}

.book_icon_box,
.location_icon_box {
    margin: var(--mb-1) 0;
    display: flex;
    align-items: center;
}

.book_icon_box h6,
.location_icon_box h6 {
    margin-left: var(--mb-1);
}

.icon_men {
    width: 8px;
}

.icon_child i {
    font-size: 12px;
}

.book_now {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book_now h3 {
    font-size: var(--h3-font-size);
    color: #AC3D3D;
}

.book_price {
    width: 60%;
    margin-right: var(--mb-1);
}

.book_btn {
    width: 240px;
    height: 60px;
    background: var(--main-color);
    color: var(--body-color);
    font-size: var(--h3-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 45px var(--shadow-color);
    border-radius: 10px;
    transition: .5s;
}

.book_btn:hover {
    font-size: 30px;
}

@media screen and (max-width: 375px) {
    .book_container {
        /* display: block; */
    }
    .book_card {
        width: 345px;
        margin: var(--mb-line) auto;
    }
    .book_name,
    .book_icon,
    .book_now {
        width: 320px;
        margin: 0 auto;
    }
    .book_now {
        margin: var(--mb-line) auto;
    }
    .book .swiper-slide img {
        display: block;
        width: 320px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
    }
    .book .swiper-container {
        width: 320px;
        height: 200px;
    }
    .book_now h3 {
        margin: 0;
    }
}


/* location */

iframe {
    width: 80%;
    height: 500px;
    margin: var(--mb-line) auto;
    box-shadow: 0 25px 45px var(--shadow-color);
    border-radius: 10px;
}

.location_icon {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.location_icon_box {
    width: 33%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 375px) {
    iframe {
        width: 90%;
        height: 300px;
    }
    .location_icon {
        width: 320px;
        margin: 0 auto;
        flex-flow: column;
    }
    .location_icon_box {
        width: 80%;
        justify-content: flex-start;
        margin: var(--mb-line) auto;
    }
}


/* reviews */

.reviews {
    margin-bottom: 0;
}

.reviews_content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.reviews_title {
    width: 100%;
}

.reviews_box {
    width: 45%;
    display: flex;
    margin: var(--mb-line) 0;
}

.reviews_img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 25px 45px var(--shadow-color);
}

.reviews_text,
.reviews_number_text {
    margin-left: var(--mb-1);
}

.reviews_text h3,
.reviews_number_text h3 {
    font-size: 16px;
    margin: 0;
}

.reviews_text small,
.reviews_number_text small {
    font-size: var(--small-font-size);
    color: var(--hover-color);
}

.reviews_text h6 {
    font-size: var(--small-font-size);
}

@media screen and (max-width: 375px) {
    .reviews_content {
        width: 100%;
    }
    .reviews_box {
        width: 100%;
    }
    .reviews {
        margin-bottom: 0;
    }
}

.reviews_number {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.reviews_number_img {
    width: 100px;
    height: 100px;
    background: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 25px 45px var(--shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews_number_img p {
    font-size: var(--h3-font-size);
    color: var(--body-color);
}

.reviews_awards {
    width: 80%;
    margin: var(--mb-line) auto;
}

.reviews_awards_box {
    width: 80%;
    display: flex;
    margin: var(--mb-line) auto;
    justify-content: space-between;
}

.reviews_awards_img {
    width: 160px;
    height: 120px;
}

@media screen and (max-width: 375px) {
    .reviews_awards {
        width: 100%;
    }
    .reviews_awards_box {
        width: 300px;
    }
    .reviews_awards_img {
        width: 80px;
        height: 60px;
    }
}

.reviews_awards_img img {
    object-fit: contain;
}

.reviews_ins {
    width: 80%;
    margin: var(--mb-box) auto;
}

.reviews_ins_card {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: var(--mb-line) 0;
}

.reviews_ins_img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    transition: .5s;
}

@media screen and (max-width: 375px) {
    .reviews_ins {
        width: 100%;
        margin: 0 auto;
    }
    .reviews_ins_card {
        position: relative;
        width: 240px;
        height: 240px;
        border-radius: 10px;
        margin: 0;
    }
    .reviews_ins_img {
        width: 240px;
        height: 240px;
        border-radius: 10px;
        transition: .5s;
    }
}


/* footer */

.footer {
    box-shadow: 0 -25px 45px var(--shadow-color);
    /* height: var(--mb-box); */
    text-align: center;
    padding: var(--mb-line) 0;
}

.footer_icon {
    margin: 0 auto;
    width: 120px;
    display: flex;
    justify-content: space-between;
    color: var(--hover-color);
}

.footer_icon_box i:hover {
    color: var(--hover-color);
}


/* scrollup */

.scrollup {
    position: fixed;
    border-radius: 10px;
    right: var(--mb-box);
    bottom: -20%;
    background-color: var(--main-color);
    padding: .5rem;
    display: flex;
    opacity: .5;
    z-index: 1000;
    transition: .5s;
}

.scrollup:hover {
    opacity: .3;
}

.scrollup__icon {
    color: var(--body-color);
    font-size: 1.2rem;
}


/* Show scroll */

.show-scroll {
    bottom: var(--mb-box);
}

@media screen and (max-width: 375px) {
    .scrollup {
        right: var(--mb-1);
    }
}