:root {
    --header-height: 60px;
    /* color */
    --main-color: #505050;
    --hover-color: #50505075;
    --white-color: #fff;
    --shadow-color: #50505050;
    /* blur color */
    --background-color: #ffffff10;
    --border-color: #ffffff50;
    --border-side-color: #ffffff20;
    /* font */
    --body-font: myanmar mn, sans-serif;
    --h1-font-size: 72px;
    --h2-font-size: 60px;
    --h3-font-size: 24px;
    --h6-font-size: 20px;
    --normal-font-size: 14px;
    /* small */
    --small-font-size: 12px;
    /* mb */
    --mb-section: 200px;
    --mb-title: 100px;
    --mb-box: 80px;
    --mb-line: 20px;
    --mb-1: 15px;
}


/* set */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--main-color);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon img {
    object-fit: contain;
}

section {
    margin-bottom: var(--mb-section);
}

.section__title {
    margin-bottom: var(--mb-title);
}

.container {
    max-width: 1080px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.icon {
    width: 20px;
    height: 20px;
}

.grid {
    display: grid;
    gap: var(--mb-line);
}


/* header */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: transparent;
}


/* nav */

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle {
    color: var(--white-color);
}

@media screen and (max-width: 375px) {
    .nav_menu {
        position: fixed;
        background-color: var(--white-color);
        box-shadow: 0 25px 45px var(--shadow-color);
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        padding: 40px;
        transition: .5s;
    }
}

.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-line);
}

.nav_link {
    color: var(--main-color);
    text-transform: uppercase;
}

.nav_link:hover {
    color: var(--hover-color);
}

.nav_close {
    position: absolute;
    top: var(--mb-line);
    right: var(--mb-line);
    width: var(--mb-line);
    height: var(--mb-line);
}

.show-menu {
    right: 0;
}


/* home */

.home_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home_container {
    position: relative;
}